/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');
/* font-family: 'Shippori Mincho', serif; */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
    font-size: 12px;
}

/* primary-color: #131313; */
/* secondery-color: #c70d0d */
body {
    font-family: 'Chivo', sans-serif;
    height: 3000px;
}

/* Start Art and Culture Section */
/* Ahmad Omar */
.artculture_container {
    display: flex;
    /* align-items: center; */
    margin: 0 25px;
    border-bottom: 3px solid black;
}
.art_culture {
    border-top: 3px solid black;
    padding-bottom: 30px;
}
.section_title {
    font-size: 2.5rem;
    margin-bottom: 35px;
    margin-top: 25px;
}
.cards {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.card {
    width: calc(100%/3);
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
}
@media screen and (max-width: 900px) {
    .card {
        width: calc(100%/2);
    }
}
@media screen and (max-width: 600px) {
    .card {
        width: calc(100%);
        padding-left: 0;
        padding-right: 0;
    }
}
.card:first-child {
    padding-left: 0;
}
.card:last-child {
    padding-right: 0;
}
.card_details {
    width: 95%;
}
.card_cat {
    font-size: 1.2rem;
    color: #c70d0d;
    font-weight: 700;
    display: inline-block;
    margin-top: 18px;
}
.card_title {
    font-size: 1.9rem;
    margin: 12px 0 16px;
}
.art_culture .card_image img {
    height: auto;
}
.card_image img {
    width: 100%;
    object-fit: cover;
    height: 230px;
}
.card_title a {
    color: #131313;
    text-decoration: none;
    line-height: 1.4;
}
.card_author {
    font-family: 'Shippori Mincho', serif;
    font-weight: 700;
    font-size: 1.3rem;
}
.see_all {
    position: absolute;
    right: 15px;
    top: -60px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #131313;;
}
aside.ad_aside {
    margin-left: 20px;
    transform: translateY(3px);
}
@media screen and (max-width: 600px) {
    aside.ad_aside {
        display: none;
    }
}
/* End Art and Culture Section */
/* /////////////////////////// */

/* Start Science Update Section */
/* Ahmad Omar */
.science_update {
    margin: 0 25px;
    border-bottom: 3px solid #000;
}
.science_update .cards {
    flex-wrap: nowrap;
}
@media screen and (max-width: 900px) {
    .science_update .cards {
        flex-wrap: wrap;
    }
}

/* End Science Update Section */

/* Start Sport Section */
/* Ahmad Omar */
.sport {
    margin: 0 25px;
}
.sport .cards {
    flex-wrap: nowrap
}
.sport .card_image img {
    object-fit: cover;
    height: 230px;
}
@media screen and (max-width: 900px) {
    .sport .cards {
        flex-wrap: wrap;
    }
}
.next_previous {
    position: absolute;
    right: 15px;
    top: -62px;
}

.next_previous button {
    background-color: transparent;
    border: 0;
    padding: 0 6px;
}
.next_previous button i {
    font-size: 2rem;
    color: #A9ABB6;
}
/* End Sport Section */


/* Start Subscribe Section */
/* Ahmad Omar */
.subscribe {
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #131313;
    padding: 70px 0;
    text-align: center;
}

.subscribe_title {
    font-size: 3.5rem;
    margin-bottom: 15px;
}
.subscribe_p {
    font-family: 'Shippori Mincho', serif;
    font-size: 1.6rem;
    font-weight: 700;
}
.subscribe .subscribe_form {
    width: 50%;
    text-align: center;
    display: flex;
    position: relative;
    margin: 45px 0 20px;
}
@media screen and (max-width: 900px) {
    .subscribe .subscribe_form {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .subscribe .subscribe_form {
        flex-direction: column;
    }
}
.subscribe .subscribe_form input {
    width: 100%;
    border: 0;
    height: 55px;
    border-bottom: 2px solid #131313;
    background-color: transparent;
}
.subscribe .subscribe_form input::placeholder {
    color: #131313;
    font-size: 1.3rem;
}
.subscribe .subscribe_form button {
    border: 0;
    height: 55px;
    width: 140px;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #c70d0d;
    color: #fff;
    position: absolute;
    right: 0;
    top: -5px;
}
@media screen and (max-width: 600px) {
    .subscribe .subscribe_form button {
        position: relative;
        left: unset;
        top: 5px;
        width: 100%;
    }
}
.subscribe .subscribe_para_bottom {
    font-family: 'Shippori Mincho';
    font-size: 1.27rem;
    font-weight: 500;
    color: #808080;
}
/* End Subscribe Section */